<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Dispo-Deportes SR</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="img/iconfav.png" rel="icon">
  <link href="img/iconfav.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- Libraries CSS Files -->
  <link href="/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
  <link href="/@fortawesome/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">

  <!-- Main Stylesheet File -->
  <link rel="stylesheet" href="/style2.css">
</head>

<body>
  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container-fluid">

      <div id="logo" class="pull-left">
        <h1><a href="#intro" style="text-decoration: none;" class="scrollto">Dispo-Deportes SR</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#intro"><img src="img/logo.png" alt="" title="" /></a>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">Información</a></li>
          <li><a href="#contact">Contacto</a></li>
          <li><a href="https://dispo-deportes-sr.herokuapp.com/auth/form">Login</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active">
            <div class="carousel-background"><img src="/img/login-register.png" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <img src="/img/logo.png" class="image-logoCarru" alt="">
                <h2>App Dispo-Deportes SR</h2>
                <p>Aplicación de Disponibilidad de espacios para la práctica de deportes en San Rafael, Mendoza.</p>
                <a href="#about" class="btn-get-started scrollto">Saber más</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/img/2.png" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 style="font-size: 36px;">Distinta a las demás aplicaciones</h2>
                <p>Cuenta con una funcionalidad inovadora que consiste en listas de reserva en espera. Si desea conocer mejor como opera dicha funcionalidad presione en Saber más. </p>
                <a href="#about" class="btn-get-started scrollto">Saber más</a>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div class="carousel-background"><img src="/img/creador.png" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2>Creador</h2>
                <h2>Iván Castro</h2>
                <a href="#about" class="btn-get-started scrollto">Saber más</a>
              </div>
            </div>
          </div>
        </div>

        <a style="text-decoration: none;" class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon fas fa-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a style="text-decoration: none;" class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon fas fa-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <main id="main">
    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
      <div class="container">

        <header class="section-header">
          <h3>Descargá Dispo-Deportes SR</h3>
          <p>Es una aplicación totalmente gratuita fácil de utilizar, rápida y sencilla. ¿Qué estas esperando? Comenzá a reservar tus turnos.</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4 wow fadeInUp">
            <div class="about-col">
              <div class="img">
                <img src="img/about-mission.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fas fa-check-circle"></i></div>
              </div>
              <h2 class="title"><a style="text-decoration:none" href=""> Reservá en el momento</a></h2>
              <p>
               Con nuestra aplicación gana tiempo y evita complicaciones. Reservá tu turno de forma rápida y sencilla con un solo click.
              </p>
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-plan.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fas fa-list-ol"></i></div>
              </div>
              <h2 class="title"><a style="text-decoration:none" href="">Nueva Funcionalidad</a></h2>
              <p>
                Los usuarios tienen disponen de una lista de espera.
              </p>
              <p>
                En caso de cancelación de un turno se envía una notfiicación al primer anotado en la lista, y el mismo tiene la opción de aceptar o rechazar el turno. Si la persona rechaza la oportunidad de reservar automaticamente se envía una notfiicación al siguiente de la lista.
              </p>
              <p>
                Datos a tener en cuenta: 
                <ul>
                  <li>una vez enviada la notfiicación tiene un tiempo de 5 min. para contestar. Caso contrario se notifica al siguiente de la lista.</li>
                  <li>Sólo se pueden anotar dos personas en la lista de espera por turno.</li>
                </ul>
              </p>
              
                
  
              
            </div>
          </div>

          <div class="col-md-4 wow fadeInUp" data-wow-delay="0.2s">
            <div class="about-col">
              <div class="img">
                <img src="img/about-vision.jpg" alt="" class="img-fluid">
                <div class="icon"><i class="fas fa-search"></i></div>
              </div>
              <h2 class="title"><a style="text-decoration:none" href="#">Busca tu Deporte</a></h2>
              <p>
                En esta App encontrarás tu deporte favorito, complejo donde practicarlo y nómina de turnos. Podrás también buscar tu turno por fecha, por hora o por número de cancha.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- #about -->
    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h3>Contacto</h3>
          <p>¿Tiene alguna duda o consulta? ¿Quiere adherir su compplejo deportivo? Comuníquese con nosotros.</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-4">
            <div class="contact-address">
              <i class="fas fa-map-marker-alt"></i>
              <h3>Dirección</h3>
              <address>No hay dirección por el momento</address>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-phone">
              <i class="fas fa-mobile-alt"></i>
              <h3>Teléfono</h3>
              <p><a href="+542604698404">+542604698404</a></p>
            </div>
          </div>

          <div class="col-md-4">
            <div class="contact-email">
              <i class="far fa-envelope"></i>
              <h3>Email</h3>
              <p><a href="mailto:dispodeportes.sr@gmail.com">dispodeportes.sr@gmail.com</a></p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- #contact -->

  </main>
  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- JavaScript Libraries -->
  <script src="/lib/jquery/jquery.min.js"></script>
  <script src="/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/lib/easing/easing.min.js"></script>
  <script src="/lib/superfish/hoverIntent.js"></script>
  <script src="/lib/superfish/superfish.min.js"></script>
  <script src="/lib/wow/wow.min.js"></script>
  <script src="/lib/waypoints/waypoints.min.js"></script>
  <script src="/lib/counterup/counterup.min.js"></script>
  <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="/lib/isotope/isotope.pkgd.min.js"></script>
  <script src="/lib/lightbox/js/lightbox.min.js"></script>
  <script src="/lib/touchSwipe/jquery.touchSwipe.min.js"></script>

  <!-- Template Main Javascript File -->
  <script src="/js/main.js"></script>

</body>
</html>
