<%- include("template/header") %> 
<body>
	<div class="container h-100">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="/img/logo-circle.png" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container">
					<form action="https://google.com">
						<div class="input-group mb-3">
							<img src="/img/exito.png" class="logo-success" alt="">
							<p><%=messageok%></p>
                            </div>
							<div class="d-flex justify-content-center mt-3 login_container">
				 	<button type="submit" name="" href="https://dispo-deportes-sr.herokuapp.com/" class="btn login_btn">Volver al inicio</button>
				   </div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>